[Unit]
Description=n2klocd daemon

[Service]
ExecStart=/usr/bin/n2kafka /etc/n2klocd/config.json
Restart=always
User=n2klocd
Group=n2klocd

[Install]
WantedBy=multi-user.target
